.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form_input{
  
}
.outer{
  width: 50%;
  margin:0 auto;
  border: 1px solid black;
  border-radius: 1%;
  background-color: #3c424a;
  color: #dde6ee;
}

.title{
  margin-bottom: 20px ;
  width: 100%;
  text-align: center center;
  background-color: #1890ff;
  font-family: 'Oswald', sans-serif;
  
}

div.outer h1{
  height:80px;
  width: fit-content;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  border: solid none whitesmoke;
  border-radius: 5%;
}

div h2{
  padding-left: 20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
